{% extends "base.html" %} {% load wagtailimages_tags %}
 {% load static wagtailcore_tags %} 
 {% block body_class %}template-homepage{%endblock %} 

{% block content %} 
    <div id="react">Loading...{{ user }} - {{ room }}</div>

    <script>
        var user = '{{ user.username }}';
        var room = '{{ room }}';  
        window.props={"user":user,"room":room};
    </script>
    <script src="{% static 'index_bundle.js' %}"></script>
{% endblock %}


{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}
