var webpack = require('webpack');
var path = require('path');

var BUILD_DIR = path.resolve(__dirname, 'public');
var APP_DIR = path.resolve(__dirname, 'src/client');

var config = {
  entry: ['webpack/hot/dev-server', 'webpack-hot-middleware/client', APP_DIR + '/index.jsx'],
  output: {
    path: '/',
    filename: 'bundle.js'
  },
resolveLoader: {
      modulesDirectories: [
          path.resolve(__dirname,'node_modules')
      ]
},
  module : {
    loaders : [
	      {
        test: /\.css$/,
        use: [ 'style-loader', 'css-loader' ]
      },
      {
        test : /.jsx?$/,
        exclude : /node_modules/,
        loader : 'babel-loader',
	query:{presets:['es2015','react'],plugins: ['transform-object-rest-spread']}
      },
{ test: /\.js$/, loader: 'babel-loader', exclude: /node_modules/ }
    ]
  },
    plugins: [
        new webpack.optimize.OccurenceOrderPlugin(),
        new webpack.HotModuleReplacementPlugin(),
        new webpack.NoErrorsPlugin()
    ]
};

module.exports = config;
